!!! 5
html(lang="zh-CN")
  head
    title 知乎日报 - 明白人说新鲜事
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="user-scalable=no, width=device-width, initial-scale = 1.0")
    link(rel="stylesheet", href="css/base.auto.css")
    link(rel="stylesheet", href="css/new_home_v2.auto.css")
    script(src="js/jquery.1.9.1.js")
    script(src="js/bootstrap.min.js")
  body.home
    .top-bg
      img.top-bg-img(src="img/new_home_v2/top_bg.png")

    .header.navbar-fixed-top
      .container.clearfix
        .about-us
          span.txt 关注我们        
          a.link-sina(href="//weibo.com/zhihudaily", title="在新浪微博上关注我们")
            i.ico
          a.link-tencent(href="//t.qq.com/zhihudaily", title="在腾讯微博上关注我们")
            i.ico

        h1.logo
          a.link-logo(href=".", target="_self", title="知乎日报") 知乎日报

    .main-content
      .container
        .row.section-main
          .col-12.col-sm-12.col-lg-6
            .slogan
              .hd
                h2 知乎日报
              .bd
                p.info 明白人说新鲜事
                p.extra 知乎又一力作，来自顶级知识分享社区的每日精选资讯
              ul.download.ft.clearfix
                li
                  a.link-download(href="[TBD]", title="iPhone 版")
                    i.icon.icon-iphone 
                    span.txt iPhone 版
                li.with-dropdown-menu.last
                  a.link-download(href="[TBD]", title="Android 版")
                    i.icon.icon-android
                    span.txt Android 版
                  ul.dropdown-menu
                    li
                      a.link-download(href="[TBD]", title="360 手机助手")
                        span.txt 360 手机助手
                    li
                      a.link-download(href="[TBD]", title="豌豆荚")
                        span.txt 豌豆荚
                    li
                      a.link-download.last(href="[TBD]", title="本地下载")
                        span.txt 本地下载



          .col-12.col-sm-12.col-lg-6.visible-lg
            .sample-screen
              .carousel.slide
                .carousel-inner
                  .item.active
                    img(src="img/new_home_v2/photo_1.jpg", alt="示例1")
                  .item
                    img(src="img/new_home_v2/photo_2.jpg", alt="示例2")
                  .item
                    img(src="img/new_home_v2/photo_3.jpg", alt="示例3")
                  .item
                    img(src="img/new_home_v2/photo_4.jpg", alt="示例4")
                  .item
                    img(src="img/new_home_v2/photo_5.jpg", alt="示例5")

        .row
          .col-12.col-sm-12.col-lg-12
            h2.section-title 知乎日报内容精选

        .row.features
          .col-12.col-sm-12.col-lg-4
            .feature
              .mask
              h3 灵巧自然的时尚设计灵巧自然的时尚设计灵巧自然的时尚设计
              img(src="http://p1.zhimg.com/03/46/03462c61c38322aa18e2879adaa0671b_m.jpg")
          .col-12.col-sm-12.col-lg-4
            .feature
              .mask
              h3 灵巧自然的时尚设计灵巧自然的时尚设计灵巧自然的时尚设计
              img(src="http://p1.zhimg.com/03/46/03462c61c38322aa18e2879adaa0671b_m.jpg")
          .col-12.col-sm-12.col-lg-4
            .feature
              .mask
              h3 灵巧自然的时尚设计灵巧自然的时尚设计灵巧自然的时尚设计
              img(src="http://p1.zhimg.com/03/46/03462c61c38322aa18e2879adaa0671b_m.jpg")
          .col-12.col-sm-12.col-lg-4
            .feature
              .mask
              h3 灵巧自然的时尚设计灵巧自然的时尚设计灵巧自然的时尚设计
              img(src="http://p1.zhimg.com/03/46/03462c61c38322aa18e2879adaa0671b_m.jpg")
          .col-12.col-sm-12.col-lg-4
            .feature
              .mask
              h3 灵巧自然的时尚设计灵巧自然的时尚设计灵巧自然的时尚设计
              img(src="http://p1.zhimg.com/03/46/03462c61c38322aa18e2879adaa0671b_m.jpg")
          .col-12.col-sm-12.col-lg-4
            .feature
              .mask
              h3 灵巧自然的时尚设计灵巧自然的时尚设计灵巧自然的时尚设计
              img(src="http://p1.zhimg.com/03/46/03462c61c38322aa18e2879adaa0671b_m.jpg")

        .one-foundation-anchor-wrap
          a.anchor(name="onefoundation")

        .row.one-foundation-section-title
          .col-12.col-sm-12.col-lg-12
            h2.section-title 知乎日报特别版

        .row.one-foundation
          .col-12.col-sm-12.col-lg-12.visible-lg
            .bg
              .bg-inner
          .col-12.col-sm-12.col-lg-6.col-lg-offset-6
            .one-foundation-inner
              .hd
                h2.title 公益壹点通
                p.info 知乎日报特别版
              .ft
                ul.download.list-unstyled.clearfix
                  li
                    a.link-download(href="[TBD]", title="iPhone 版")
                      i.icon.icon-iphone-small
                      span.txt iPhone 版
                  li.with-dropdown-menu.last
                    a.link-download(href="[TBD]", title="Android 版")
                      i.icon.icon-android-small
                      span.txt Android 版
                    ul.dropdown-menu.list-unstyled
                      li
                        a.link-download(href="[TBD]", title="豌豆荚")
                          span.txt 豌豆荚
                      li
                        a.link-download(href="[TBD]", title="GooglePlay")
                          span.txt.google-play
                      li
                        a.link-download.last(href="[TBD]", title="本地下载")
                          span.txt 本地下载

        .row.section-story
          .col-12.col-sm-12.col-lg-12
            p 公益不是一个人的事，是每个人的事，大家的每一次关注，都将促进公益更加透明。首款资讯+公益 app，同步知乎日报精彩内容。 每天更新 2~3 条公益信息，看资讯的同时轻松了解公益，有社会责任心的你会发现，原来公益也可以如此真实。

            p 公益壹点通（知乎日报特别版），由顶级知识问答社区知乎与知名公益组织壹基金、USDO自律吧、中国公益研究院和中国发展简报等共同推出，倡导公益理念，促进公益透明。


    .footer
      .txt @2013 知乎

    script(type='text/javascript').
      $(function(){$('.carousel').carousel()})