div(id='{{node_client_id}}')
  h3.author
    a.nickname(data-tip="p$t$qsda1", href="#") {{ answer.author.name }}
    span.bio BIO
  div.summary {{ answer.summary }}
  div.detail
    div.vote-info
    div.content.rich-text
      {{answer.content}}
