div(id='{{node_client_id}}')
  form.answer-post-form
    legend Create new answer
    label Content
    textarea.answer-content(name="source", rows="15", style="width:61.8%", placeholder="Type your answer here…")
    span.help-block You can provide one answer for each question.
    div.command
      button.action-anchor.btn.submit-answer(data-action="create-answer", data-actiontarget="{{ uri_for('question.add_answer', question_id = question.key.id()) }}") Add Answer