div.layout-wrap.layout-main.page-element(id='{{node_client_id}}')
  div(class="layout-main-content")
    div(class="layout-main-content-inner")
      {{ render_answer_list }}
      {{ render_answer_edit_form }}
      
  div(class="layout-sidebar")
  div(class="clearfix")
