div(id='{{node_client_id}}', data-meta='{{node_meta_json}}', class="layout-wrap layout-main page-element")
  div(class="layout-main-content")
    div(class="layout-main-content-inner")
      {{ render_answer_list }}
      {{ render_answer_edit_form }}
      
  div(class="layout-sidebar")
  div(class="clearfix")