{% extends 'base.html' %}
{% block title %}Edit Answer{% endblock %}
{% block content %}

<div class="main-wrap">
    <div class="main">
        <div class="main-inner">
            <h1>{{ current_question.title }}</h1>
            <form action="{{ action_uri }}" method="POST">
                <p>
                   Answer content:<br />
                    <textarea rows="15" style="width:400px" name="source">{{current_answer.answer_full.source}}</textarea>
                </p>
                <p>
                    <input type="submit" value="Save" class="btn btn-primary" /> <a href="{{ uri_for('question', question_id = current_question.key.id()) }}">Cancel</a>
                </p>
            </form>
        </div>
    </div>
    <div class="sidebar">

    </div>
    <div class="clearfix"></div>
</div>
{% endblock %}
