<div class="layout-wrap layout-main page-element" data-module="question"{{node_attribute()}}>
    <div class="layout-main-content">
        <div class="layout-main-content-inner">
        <!-- Start main-content-inner -->
          {% include 'question_head_block.html' %}
          {{ render_answer }}
          {{ opt_render_comments }}
        <!-- End for main-content-inner -->
        </div>
    </div>
    <div class="layout-sidebar">
        
    </div>
    <div class="clearfix"></div>
</div>