<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>{% block title %}{% endblock %} - Shaca's Personal Site'</title>
    <link type="text/css" rel="stylesheet" href="/static/css/v3/less/main.css" />
    <!-- style overide or not in production components. -->
    <link type="text/css" rel="stylesheet" href="/static/css/main.css" />
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.2.min.js"></script>
    {% if config['is_debug'] %}
    <script src="/static/js/closure-library-new/closure/goog/base.js"></script>
    <script src="/static/js/v3/c/deps.js"></script>
    <style>
    .znode:hover{
        box-shadow: 0 0 3px rgba(63, 126, 197, 1);
    }
    </style>
    {% else %}
    <script src="/static/js/c/{{ config['static_file_version'] }}/app.js"></script>
    {% endif %}
</head>
<body>

{% macro side_block(title) -%}
<div class="side-block">
    <h3>{{ title }}</h3>
    <div class="contents">
        {{ caller() }}
    </div>
</div>
{%- endmacro %}
<div class="page-header" id="page-header">
    <div class="layout-wrap" id="page-header-inner">
        <h1>
            <a href="/" class="page-header-link-logo" id="page-header-link-logo" name="page-header-link-logo"></a>
        </h1>
        <div id="page-header-new-pm" style="display:none"></div>

    </div>
</div>

{% block content %}
{% endblock %}
<div id="footer" class="footer">
    
</div>
{% if config['is_debug'] %}
<script>
//Only debug mode need this script block.

// goog.require('goog.debug.DivConsole');
// goog.require('goog.debug.Logger');
// goog.require('goog.debug.LogManager');
goog.require('goog.module.ModuleManager');
goog.require('ZH.main');
goog.require('ZH.page.HomePage');
goog.require('ZH.ui.FeedList');
</script>
{% endif %}
<script>
// Set up a logger.
// goog.debug.LogManager.getRoot().setLevel(goog.debug.Logger.Level.ALL);
// var logger = goog.debug.Logger.getLogger('goog.module.ModuleManager');
// var logconsole = new goog.debug.DivConsole(goog.dom.getElement('log'));
// logconsole.setCapturing(true);
// var a = goog.dom.getElementByClass('page-element');

ZH.setMap({{parents_map}});
ZH.addRoot({{root_nodes}});
ZH.main();

</script>




