{% import 'macro_comment.html' as comment_tpl %}

{% extends 'base.html' %}
{% block title %}Edit Answer{% endblock %}
{% block content %}

<div class="layout-wrap layout-main page-element" data-module="home">
    <div class="layout-main-content">
        <div class="layout-main-content-inner">
            <!-- main content inner-->
            <h2>评论列表</h2>
            {{ render_comment_list(entity_key_string) }}
            <!-- end for main conent inner-->
        </div>
    </div>
    <div class="layout-sidebar">

    </div>
    <div class="clearfix"></div>
</div>

{% endblock %}
