<div class="comment-list"{{node_attribute()}}>
  <div class="loading"></div>
  <div class="inner">
    {% for comment in comments -%}
    {{ render_comment(comment) }}
    {%- endfor %}
  </div>
  <div class="edit-form">
      <textarea class="comment_content" name="content" style="width: 61.8%;height: 100px"></textarea>
      <p class="command">
        <button data-action="add-comment" data-actiontarget="{{ uri_for('comment.add', entity_key_string = entity_key_string) }}" class="action-anchor btn btn-primmary">保存</button>
      </p>
  </div>
</div>

