<div class="item feed"{{node_attribute()}}>
    <a href="" class="avatar-link" style="background:url('http://p3.zhimg.com/e7/6b/e76b7bd15_m.jpg') 50% 0 no-repeat">马骁</a>
    <div class="feed-main">    
        <div class="source">{{ info }}</div>
        <div class="content">
            <h2 class="title">
                <a class="question-link" href="{{ uri_for('question', question_id = question.key.id()) }}">{{question.title}}</a>
            </h2>
            {% for answer in answers %}
            {{ render_answer(answer, relation) }}
            {{ render_feed_meta(answer, relation) }}
            {% endfor %}
        </div>
    </div>
</div>