{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="main-wrap">
    <div class="main">
        <div class="main-inner">
            <h1>Home page</h1>
            <p>
                <a href="{{ uri_for('question.add') }}">Add new question</a>
            </p>
            <div class="feed-list">
                {% for q in question_list: %}
                <div class="feed">
                    <a href="{{ uri_for('question', question_id = q.key.id()) }}"><h2>{{q.title}}</h2></a>
                    <div class="description">
                        {{q.description}}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="sidebar">
        {% call side_block('First block!') %}
        This is a first side block.
        {% endcall %}
    </div>
    <div class="clearfix"></div>
</div>
{% endblock %}

    
