<html>
	<head>
		<script src="/static/js/sea-debug.js"></script>
	</head>
	<body>
		<h2 id="message"></h2>
		{{ render_test_node }}
		<script>
		seajs.config({
		  base: "./static/js",
		  alias: {
		  	'znode' : 'zh-pagelet/dist/znode_seajs'
			}
		})

		// load init module.
		seajs.use('znode', function(m){
			{% for n in root_nodes %}
			{% set info = n.get_client_info_map() %}
			m.ZH.initComponent({{ info.get_dependency_tree_json() }}, {{ info.get_infor_map_json() }})
			{% end %}
		})

		</script>
	</body>
</html>
