{% macro vote(answer, relation) -%}
{% set is_voteup = answer.key in relation.up_voted_answers %}
{% set is_votedown = answer.key in relation.down_voted_answers %}
<div class="vote">
    <a name="vote" class="vote-count" href="javascript:;">{{ answer.vote_num }}</a>
    {% if is_voteup %}
    <div class="vote-bar vote-up-active">
    {% elif is_votedown %}
    <div class="vote-bar vote-down-active">
    {% else %}
    <div class="vote-bar">
    {% endif %}
        <button name="voteup" class="vote-up" data-tip="s$r$赞同"><i></i></button>
        <button name="votedown" class="vote-down" data-tip="s$r$反对，不会显示你的姓名"><i></i></button>
    </div>
</div>
{%- endmacro %}

{% macro meta(answer, relation, uri_for) -%}
{% set is_thanks = answer.key in relation.thanksed_answers %}
{% set is_nohelp = answer.key in relation.no_help_answers %}
<div class="item-meta answer-meta">
    <a href="#" class="link-gray">[{{ answer.key.id() }}], {{ answer.created_date }}</a>
    <span class="dot">·</span>
    <a href="#" name="comment" class="link-gray">X 条评论</a>
    <a href="{{ uri_for('answer.vote_up', question_id = answer.question.id(), answer_id = answer.key.id()) }}">赞同</a>
    <a href="{{ uri_for('answer.vote_down', question_id = answer.question.id(), answer_id = answer.key.id()) }}">反对</a>
    {% if is_nohelp %}
    <a href="{{ uri_for('answer.cancel_nohelp', question_id = answer.question.id(), answer_id = answer.key.id()) }}">取消没有帮助</a>
    {% else %}
    <a href="{{ uri_for('answer.nohelp', question_id = answer.question.id(), answer_id = answer.key.id()) }}">没有帮助</a>
    {% endif %}
    
    <a href="{{ uri_for('answer.edit', question_id = answer.question.id(), answer_id = answer.key.id()) }}">修改</a> 
    <a href="{{ uri_for('answer.delete', question_id = answer.question.id(), answer_id = answer.key.id()) }}" onclick="javascript:return confirm('确定要删除答案吗？')">删除</a>
</div>
{%- endmacro %}


{% macro answer(answer, relation, uri_for) -%}
<div class="answer"><!-- collapsed -->
    {{ vote(answer, relation) }}
    <h3 class="author">
        <a data-tip="p$t$qsda1" href="#" class="nickname">{{ answer.author.name }}</a> <span class="bio" title="#">BIO</span>
    </h3>
    <div class="summary">{{ answer.summary }}</div>
    <div class="detail">
        <div class="vote-info"></div><!-- answer content -->
        <div class="content rich-text">
          {{answer.content}}
        </div><!-- end for answer content -->
        {{ meta(answer, relation, uri_for) }}
    </div>
</div>
{%- endmacro %}

