{% macro feed(actors, info, qeustion, answers, uri_for) -%}
<div class="feed">
    <div class='info'>
        {{ info }}
    </div>
    <a href="{{ uri_for('question', question_id = qeustion.key.id()) }}"><h2>{{qeustion.title}}</h2></a>
    {% for answer in answers %}
    <div class="answer">
        <div class="author">
            <h3>{{ answer.author.name }}</h3>
        </div>
        <div class="content">
            {{ answer.content }}
        </div>
        <div class="meta">
            [{{ answer.key.id() }}], {{ answer.created_date }} <a href="{{ uri_for('answer.edit', answer_id = answer.key.id()) }}">修改</a> 
            <a href="{{ uri_for('answer.delete', answer_id = answer.key.id()) }}" onclick="javascript:return confirm('确定要删除答案吗？')">删除</a>
        </div>
    </div>
    {% endfor %}
</div>
{%- endmacro %}