{% extends 'base.html' %}
{% block content %}

<div class="main-wrap">
    <div class="main">
        <div class="main-inner">
            <h1>Pagelets test</h1>
            <form action="" method="POST">
                <p>
                   pagelets:<br />
                    <textarea rows="15" style="width:400px" name="live_components"></textarea>
                </p>
                <p>
                    <input type="submit" value="Save" class="btn btn-primary" />
                </p>
            </form>
        </div>
    </div>
    <div class="sidebar">

    </div>
    <div class="clearfix"></div>
</div>
{% endblock %}
